/*Author:Renan Vieira*/
#matToobar{
    background-color: brown;
    color: white;
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Big Shoulders Inline Display', cursive;
}
.example-spacer {
    flex: 1 1 auto;
  }